[Unit]
Description=Renew Let's Encrypt certificates for Platform PaaS
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --deploy-hook "systemctl reload nginx"
