[Unit]
Description=Run provisioning worker profile %i every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=platform-paas-provisioning-worker@%i.service

[Install]
WantedBy=timers.target
